/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px #8556a4;
    border-radius: 25px; 
    background-color: #ffffff;
    width: auto;
    padding: 20px;
    height: auto;
    font-size: large;
    text-align:start
    
   
  }

.hr.rounded{
  border-top: 10px solid #6989c5;
  border-radius: 8px;
  border-width: 10px;
}

  #content {
    border: #6989c5 solid 5px;
    border-radius: 25px;
    padding: 20px;
    width: auto;
    height: auto;
    text-align: right;
  }


  #lab6-image-dog {
    width: 400px;
    border-radius: 50%;
    float: left;
  }
#lab6-image-cat {
  width: 400px;
  border-radius: 50%;
}

#js-screenshot {
  width: 400px;
  border-radius: 50px; 

}
 
#css-lab6 {
  width: 600px;
  border-radius: 50px;
}

  p { 
    font-size:large;
  }

h2 {
  font-size: large;
}

