.text p{
    display:inline-block;
    max-width: 60%;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgb(188, 191, 241);
    color: rgb(21, 22, 90);
    font-family: 'Lucida Sans';
    font-size: 0.em;
    }
    
    body {
        background-color: rgba(219, 159, 235, 0.891);
        font-family: monospace;
    }
    
    h1,h2,h3 {
        color: #db2379;
        font-size: xx-large;
        font-family: monospace;
    }
    
    
    .hr.rounded{
        border-top: 10px solid;
        border-radius: 8px;
        border-width: 10px;
      }

    #Challenge{
       
        padding: 10px;
        width: auto;
        height: auto;
        font-size: larger;
    }

    #Problems{
       
        padding: 20px;
        width: auto;
        height: auto;
        font-size: larger;
    }
    
    #Results{
        border: groove rgb(188, 218, 241) 10px;
        border-radius: 15px 50px;
        padding: 15px;
        width: auto;
        height: auto;
        font-size: larger;
    }
    
    #content {
        border: #ffffff dotted 15px;
        border-radius: 25px;
        padding: 20px;
        width: auto;
        height: auto;
        text-align: center;
        background-color: rgb(251, 176, 123);
    }
    
    #console {
        width: 40%;
        border-radius: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #jsbin {
       width: 800px; 
       border-radius: 50px;
    }